APP="cal"
VERSION="test"
TAG="dash-${APP}-${VERSION}"
DOCKER_REPO="spacetelescope/spacekit"
DOCKER_IMAGE="${DOCKER_REPO}:${TAG}"
SPACEKIT_VERSION="1.0.0"
SRC="web" # pkg, s3, web, file
COLLECTION="calcloud" # bucketname, repo url, or local path
DATASETS="2022-02-14,2021-11-04,2021-10-28"
DATES=('2022-02-14-1644848448' '2021-11-04-1636048291' '2021-10-28-1635457222')
PFX="archive" # for s3 this is the folder prefix
SPACEKIT_DATA=/home/developer # top-level dir where "data" folder is created
CONTAINER_MODE="-d" # -it for interactive, -d for detached
MOUNTS=0 # 1 will bind mount the below source and dest paths
SOURCEDATA="" #"$(pwd)"
DESTDATA="" #"/home/developer/spacekit"
HOSTNAME="localhost"
IPADDRESS="0.0.0.0"
NAME="spkt-dash-${APP}-${VERSION}"
EPCOMMAND="python -m spacekit.dashboard.${APP}.index"
